html {
	background-color: rgb(223, 223, 223);
}
button {
	position: absolute;
	width: 80px;
	right: 50%;
	margin-right: -40px;
}
#playModeDiv {
	text-align: center;
	margin: 20px 0 0;
}
.playModeButton {
	padding: 20px;
	margin: 0 10px;
	border-radius: 5px;
	border: 2px solid #566;
	background: linear-gradient(#666,#333);
	color: white;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 3px 3px 4px 4px black;
	vertical-align: top;
}
.selectedPlayMode {
	background: linear-gradient(#090,#050);
}
#infoDiv {
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 30px;
	margin: 30px 0;
}
#boardDiv {
	width: 480px;
	margin: 0 auto 30px;
	border: 8px solid rgb(39, 39, 39);
	cursor: default;
}
.draughtsSquare {
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: top;
	background-color: rgb(197, 197, 197);
}
.draughtsRow:nth-child(odd) .draughtsSquare:nth-child(even), .draughtsRow:nth-child(even) .draughtsSquare:nth-child(odd) {
	background-color: rgb(75, 75, 75);
}
.draughtsSquare.clickable {
	box-shadow: inset 0 0 .5px 4px rgb(255, 0, 0);
}
.draughtsPiece {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	border-width: 4px;
	border-style: solid;
	margin: 6px;
	border-radius: 50%;
}
.draughtsPiece.w, .draughtsPiece.W {
	border-color: rgb(0, 0, 0);
	background: #fff;
}
.draughtsPiece.b, .draughtsPiece.B {
	border-color: #fff;
	background: black;
	color: white;
}
.draughtsPiece.selected {
	border-color: red;
}
#optionsDiv {
	width: 500px;
	margin: 0 auto;
	font-family: Verdana, sans-serif;
	font-size: 18px;
}
#colourModeDiv {
	margin-top: 20px;
}
